requests==2.33.0
aiohttp==3.13.5
selenium==4.43.0
beautifulsoup4==4.14.3
lxml==6.1.0
pyotp==2.9.0
tweety-ns==2.1
fake-useragent==2.2.0
py-cord==2.7.2
firebase-admin==7.4.0
python-dotenv==1.2.2
google-api-python-client==2.194.0
jmespath==1.1.0
nested_lookup==0.2.25
parsel==1.11.0
playwright==1.58.0
curl_cffi==0.15.0
selectolax==0.4.7
pillow==12.2.0
pillow-heif==1.3.0
git+https://github.com/j19930307/sns-core.git@048d8a9