requests==2.32.3
aiohttp==3.10.5
selenium==4.21.0
beautifulsoup4==4.12.3
lxml==5.2.2
Pillow==10.3.0
pyotp==2.9.0
tweety-ns==1.0.9.7
fake-useragent==1.5.1
py-cord==2.5.0
firebase-admin==6.5.0
python-dotenv==1.0.1
google-api-python-client==2.138.0